#searchform input#s{border:0;}
#searchform #searchsubmit{display:block;font-size:0;line-height:0;}
#new-royalslider-1 .slide-content, #banner p, .box a.page-thumbnail p, .management-team #tabs .nav li, .boxcaption{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);}